@model StockClient.Models.Stock

@{
    ViewData["Title"] = "Stock Details";
}

<h1>Stock Details</h1>

<div class="container">
    <h4>
        @Html.DisplayFor(model => model.Name)
    </h4>
    <div class="row">
        <div class="col-sm-3">
            Symbol
        </div>
        <div class="col-sm-6">
            @Html.DisplayFor(model => model.Symbol)
        </div>
    </div>

    <div class="row">
        <div class="col-sm-3">
            Price
        </div>
        <div class="col-sm-6">
            $@Html.DisplayFor(model => model.Price)
        </div>
    </div>

    <div class="row">
        <div class="col-sm-3">
            Last Price
        </div>
        <div class="col-sm-6">
            $@Html.DisplayFor(model => model.LastPrice)
        </div>
    </div>
    <br />

    <div class="row">
        <div class="col-sm-3">
        </div>
        <div class="col-sm-6">
            <a asp-action="OpenTrade" asp-controller="UserTrades" asp-route-symbol="@Model.Symbol" class="btn btn-primary">Open Trade</a>
        </div>
    </div>

</div>
